.navbar{
	position: relative;
	height: 88px;
	background-color: #fff;
	border:none;
}

.navbar-brand{
	position: absolute;
	margin:0 auto;
	padding:0;
	width: 386px;
	height: 100%;
    margin-left: 1px!important;   
}

.navbar-brand h1{
	display: inline-block;
	margin-left: 10px;
	font-size: 18px;
	color: black;
}

.navbar-brand h1 .companyName{	
	margin-left: 10px;
	color: #d5d2d2;
}

.navbar-brand h1 .sepLine{
	margin-right: 10px;
	font-size: 20px;
}

.navbar-brand a{
	display: inline-block;
	width: 140px;
    height: 60px;
    margin-top: 14px;
    margin-left: 40px;
    margin-right: 0px;
}

.navbar-brand a img{
	width: 140px;
    height: 60px;
}

.navbar-default #bs-example-navbar-collapse-1{
	position: relative;
	width: 592px;
	height: 100%!important;
	border-bottom: 1px solid #e7e7e7;
	padding: 0;
}
.navbar-default #bs-example-navbar-collapse-1 .navbar-nav{
	width: 100%;
	height: 100%;
}

.navbar-default #bs-example-navbar-collapse-1 .navbar-nav{
	margin-right: 40px;
}
.navbar-default #bs-example-navbar-collapse-1 .navbar-nav li{
	width: 138px;
	height: 88px;
}


.navbar-default #bs-example-navbar-collapse-1 ul li a{
	width: 80px;
	height: 88px;
	padding: 0;
	font-size: 18px;
	color: black;
	line-height: 88px;
	text-align: center;

}


.navbar-default .navbar-nav a:focus, .navbar-default .navbar-nav a:hover {
    color: #3bc7ba!important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{  
    background-color: #fff;
}



ul li .pad:hover{
	border-bottom: 3px solid #3bc7ba!important;
}

ul li .pad{
	padding-bottom: 26px;
}

.dropdown-menu{
	/*background-color:#000;
	filter:alpha(opacity=50);
	opacity:0.5;*/
	background-color: rgba(255, 255, 255, 0);
	box-shadow: none;
	border: none;
	padding: 0;
	margin-top: 9px;
	left: 35px;
}

.dropdown-menu li{
	width: 138px!important;
	height: 38px!important;
	border-bottom: 1px solid #bbbbbb;
}

.dropdown-menu li a{
	padding: 0!important;
	width: 100%!important;
	height: 100%!important;
	line-height: 38px!important;
	font-size: 16px!important;
	text-align: left!important;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color: rgba(255, 255, 255, 0);
}

.container{
	padding-left: 0;
	padding-right: 0;
}

.banner{
    position: absolute;
    width: 100%;
    height: 590px;
    left: 0;
    top:94px;
    background: url(../imgs/xingji.jpg);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position:0px 0px;
    background-size: 100% 150%;
    z-index: -1;
}

.cover{
   width: 100%;
   height: 590px;
   z-index: 1;
   background-color: rgba(255, 255, 255, .75);
}

.saySomething{
   position: relative;
   width: 60%;
   left: 195px;
   top: -384px;
}

.saySomething p{
	font-size: 28px;
}

.saySomething span{
	display: inline-block;
	width: 122px;
	height: 43px;
	line-height: 43px;
	text-align: center;
	border:1px solid #3bc7ba;
	margin-left: 18px;
	margin-top: 56px;
	border-radius: 5px;
}

.saySomething span a {
	width: 100%
	height:100%;
	color: #3bc7ba;
	font-weight: bold;
}

/*轮播图部分*/
.carouselFigure{
	position: absolute; 
	width:100%;
	height:594px;
	left: 0px;
	top:735px;
	text-align: center;
}

.carouselFigure p,.service p{
	font-size: 28px;
	margin-bottom: 30px;
}

.carouselFigure .shortLine,.service .shortLine{
	width: 102px;
	height: 5px;
	background-color: #3bc7ba;
	margin: 0 auto;
}

#myCarousel{
	position: relative;
	margin: 0 auto;
	margin-top: -10px;
	width: 90%;
	height: 400px;
}

.carousel-inner{
	width: 80%;
	height: 365px;
	position: relative;
    overflow: hidden;
    left: 130px;
    top: 52px;

}

.carousel-inner .item,.carousel-inner .item img{
	width: 100%;
	height: 100%;
}

.carousel-inner .item .itemContent{
	border:2px solid #eff0ef;
	box-shadow: 1px 1px 2px #c1c1c1;
}

.carousel-inner .item .itemContent .contTit{
	width: 350px;
	font-size: 28px;
	margin-top: 50px;
	margin-left: 20px;
}

.carousel-inner .item .itemContent .contDet{
	margin-left: 20px;
	margin-top: 65px;
}

.carousel-inner .item .itemContent .contDet p{
	font-size: 16px;
	text-align: left;
	line-height: 28px;
	color: #6a6969;
}

.carousel-inner .item .itemContent .contTips{
	width: 350px;
	margin-bottom: 40px;
}

.carousel-inner .item .itemContent .contTips span{
	font-size: 14px;
	font-weight: bold;
}
.carousel-control.right,.carousel-control.left{
    background-image: none;
}

.carousel-control .glyphicon{
	font-size: 45px;
	text-shadow: none;
	color: #eff0ef;
}

.carousel-control .glyphicon:hover{
	color: #0b0a0a;
}

/*服务部分*/
.service{
	position: absolute;
	width: 100%;
	height: 1043px;
	left: 0;
	top: 1330px;
	text-align: center;
}

.service .textwrap{
	width: 970px;
	height: 475px;
	margin: 0 auto;
	margin-top: 80px;
	margin-left: 197px;
	border:1px solid #eff0ef;
}

.service .textwrap .Point{
	width: 234px;
	height: 100%;
	border-left:1px solid #eff0ef;
}

.service .textwrap .Point .wrapTit{
	height: 60px;
	border-bottom:2px solid #eff0ef; 
}

.service .textwrap .Point p{
	font-weight: normal;
	font-size: 18px;
	height: 100%;
	line-height: 60px;
}

.service .textwrap .Point .descrip{
	padding-top: 22px;
}

.service .textwrap .Point .descrip p{
	width: 210px;
	height: 100px;
	margin:0 auto;
	font-size: 16px;
	text-align: left;
	padding-left: 10px;
	line-height: 32px;

}

.service .cmpProf{
	width: 938px;
	height: 280px;
	margin: 0 auto;
	margin-top: 120px;
}

.service .cmpProf p{
	width: 868px;
	padding-top: 50px;
	margin-left: 24px;
    font-size: 16px; 
    text-align: left;
    line-height: 25px;
}

.service .cmpProf span{
	width: 40px;
	height: 40px;
    font-size: 72px; 
}

.service .cmpProf span:last-child{
   margin-right: 0px;
   margin-top: -30px;
}

.service .cmpProf span:first-child{
   margin-left: -5px;
   margin-top: 0px;
}

footer{
  position:absolute; 
  width: 100%;
  height:350px;
  left:0px;
  top:2500px; 
  padding-left: 156px;
}

footer .aboutUs{
	width: 801px;
}

footer .aboutUs .contactUs{
    color:#b9b9b9;
    font-size: 14px;
    margin-bottom: 40px;
}

footer .aboutUs p{
	font-size: 16px;
	line-height: 28px;
}

footer .aboutUs p span{
    font-weight: bold;
}

footer .aboutUs .email{
	margin-left: 146px;
	margin-top: 0px;
}

footer .scanCode{
    width: 125px;
    height: 125px;
    margin-right: 188px;
    margin-top: -143px;
}

footer .scanCode img{
	width: 100%;
	height: 100%;
	margin-bottom: 20px;
}
footer .scanCode span{
    display: inline-block;
    width: 177%;
    margin-left:-42px; 
}

.longLine{
	position: absolute;
	top:2836px;
	width:100%;
	height:10px;
	background: #27c0b2;
}



