*{
	margin: 0;
	padding: 0;
}
body{
  margin: 0;
  padding: 0;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.wrap{
  width: 1200px;
  margin: 0 auto;
  position: relative;
  border:1px solid red;
}